body {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  background-image: url(https://previews.123rf.com/images/zven0/zven01603/zven0160300007/54795570-abstract-high-tech-background-in-white-and-gray-tones.jpg);
}

#app {
  width: 85%;
  margin: 0 auto 0 auto;
}
#update {
  width: 85%;
  margin: 0 auto 0 auto;
}

.pieces-list {
  padding: 0px;
  list-style-type: none;
}

.title {
  background-color: #0053c0;
  padding: 15px 15px 5px 10px;
  color: white;
  font-size: 40px;
  text-align: center;
}
.sizes{
  font-size: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 4px solid #85ebff;
  
}
.sizes2 :hover{

  border-bottom: 4px solid #17424b;
  
}


.piece-row-header {
  padding: 20px 0px 5px 0px;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #0053c0;
}

.piece-row {
  border-bottom: 1px solid #e9e9e9;
  padding: 15px 0px 5px 0px;
  text-align: left;
  
}

.piece-row:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.piece-name {
  font-size: 20px;
  display: inline;
}

.piece-price {
  margin-left: 65%;
  font-size: 20px;
  display: inline;
}



.add-btn {
  
  justify-content: center; 
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width:25%;
  width:100px;
  height:30px;
  border-radius: 10%;
  background: rgb(216, 43, 0);
  padding-top: 5px;
  color: white;
  text-align: center;

}
.add-btn :hover {
  margin-top: 20px;
  justify-content: center; 
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width:25%;
  width:100px;
  height:30px;
  border-radius: 10%;
  background-color: rgb(41, 241, 15);
  padding-top: 5px;
  color: white;
  text-align: center;
  cursor: pointer ;
}

.delete-btn {
  width:15%;
  width:75px;
  height:20px;
  border-radius: 10%;
  background: rgb(216, 43, 0);
  color: white;
  text-align: center;
  display: inline-block;
}

.delete-btn:hover {
  background-color: purple;
  cursor:pointer;
} 
.value_left{
  display: inline-flex;
  float:right;
}

.button {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  justify-content: center; 
  display: flex;
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 18px;
  color: #FFFFFF;
  padding: 10px;
  width: 150px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10%;
}