<html>

<head>
    <link rel="stylesheet" href="styles/details.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <script type="text/javascript" src="libs/vue.js"></script>
    <script type="text/javascript" src="libs/axios.js"></script>
</head>

<body>
    <a href="index.html">Home</a>
    <div id="add-item">

        <h1 style="text-align: center;">Adaugare produs nou</h1>

        <div v-if="piece.img !== undefined">
            <img  v-bind:src="'data:image/png;base64,'+piece.img"  class="avatar img-circle img-thumbnail" alt="avatar">
            </div>
            <div v-if="piece.img === undefined">
            <img  src="avatar.jpeg" class="avatar img-circle img-thumbnail" alt="avatar">
            </div>
            <input type="file" class="text-center center-block " @change="onFileSelected" accept="image/*">
   
            <div class="container">
            <div class="custom"></div>
            <div class="label">Name:</div>
            <div class="value">
                <input type="text" v-model="piece.name"></div>
        </div>
        <div class="container">
            <div class="custom"></div>
            <div class="label">Format:</div>
            <div class="value"><input type="text"  v-model="piece.format"></div>
        </div>
        <div class="container">
            <div class="custom"></div>
            <div class="label">Processor socket:</div>
            <div class="value"><input type="text" v-model="piece.processor"></div>
        </div>
        <div class="container">
            <div class="custom"></div>
            <div class="label">Producer:</div>
            <div class="value"><input type="text" v-model="piece.producer"></div>
        </div>
        <div class="container">
            <div class="custom"></div>
            <div class="label">Graphic interface:</div>
            <div class="value"><input type="text" v-model="piece.graphics"></div>
        </div>
        <div class="container">
            <div class="custom"></div>
            <div class="label">Memory type:</div>
            <div class="value"><input type="text" v-model="piece.memory"></div>
        </div>
        <div class="container">
            <div class="custom"></div>
            <div class="label">Price:</div>
            <div class="value"><input type="text" v-model="piece.price"></div>
            
        </div>
        
       
        <button class="button"  v-on:click="add()">Add Item</button>
    </div>
    </div>
    <script src="src/add-item.js"></script>
</body>

</html>